@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  @apply text-white;
}

.h-full-respect-nav {
  height: calc(100vh - 70px);
  overflow-y: scroll;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}